---
import PlantillaBasica from "../layouts/plantillaBasica.astro";
const titulo = "Concursos — Asociación Canaria de Cerveceros Caseros";
const descripcion = "Convocatorias de concursos de cerveza casera en Canarias: bases, inscripción y fechas. Histórico de ediciones, ganadores y recetas premiadas.";
import EventsCard from "../components/EventsCard.astro";
import HeroConcurso from "../components/concurso/HeroConcurso.astro";
import CardConcurso from "../components/concurso/CardConcurso.astro";
import { Picture } from "astro:assets";
import cali from "../assets/images/california169.png"
import saison from "../assets/images/concursos/2024.png"
---

 <!-- const { src, alt, año, estilo} -->
<PlantillaBasica titulo={titulo} descripcion={descripcion}>
  <!-- <h1>IX Concurso</h1> -->
  <HeroConcurso src={cali} alt="imagen bonita" año="2025" estilo="IX Concurso: California Common" />
  <section>
    <h2>Antiguos concursos</h2>
    <div>
      <CardConcurso />
    </div>
    
  </section>
   

</PlantillaBasica>

<style>
  section {
    display: flex;
    flex-direction: column;
    margin-block: 4rem;
    h2 {
      margin: 2rem;
    }
    div {
      display: flex;
      flex-direction: column;
      margin: auto;
      @media (601px <= width <= 1024px) {
      flex-direction: row;
    }
    @media (width >= 1025px) {
      margin:auto;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }
  }}
</style>