---
---

<footer class="footer">
  <p>© ASCECCA 2025</p>
</footer>

<style>
  .footer {
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;                 /* tamaño natural */

  p {
    margin: auto;
  }
}
</style>