---
---

<footer class="footer">
  <p>© ASCECCA 2025</p>
  <p>Hecho con 🚀Astro</p>
</footer>

<style>
  .footer {
  background-color: var(--color-principal);
  color: var(--color-background); 
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  p {
    margin: auto;
  }
}
</style>