---
import { Picture } from "astro:assets"; 
import logo from "../assets/logo.png"
---
    
<section class="hero">
  <div>
    <hgroup class="hero__hgroup">
      <h1>Asociación de Cerveceros Caseros de Canarias</h1>
      <p>La única asociación canaria que hace cerveza</p>
    </hgroup>
    
    <a class="hero__a" href="/eventos">Próximos eventos</a> 
  </div>
  
  <Picture class="logo" src={logo} alt="logo de ascecca" />
</section>

<style>
  .hero {
    /* 📱 Estilos base: móvil (≤600px) */
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    align-items: start;


    /* 📲 Tablet: 601px – 1024px */
    @media (min-width: 601px) and (max-width: 1024px) {
    } 
    /* 💻 Desktop: ≥1025px */
    @media (min-width: 1025px) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    @media (min-width: 601px) and (max-width: 1024px) {
      max-width: 75%;
    } 
    @media (min-width: 1025px) {
      max-width: 50%;
    }
  }
  .hero__hgroup {
    margin-bottom: 1rem;
    text-align: left;
    h1 {
      font-size: 3rem;
      line-height: 1;
      margin-block: 1rem;
    }
    

  }

  .hero__a {
    background-color: var(--color-principal);
    color: var(--color-background);
    display: inline-block;
    width: 100%;
    text-align: center;
    text-justify: center;
    font-family: "Playfair Display";
    text-decoration: none;
    border-radius: 0.25rem;
    margin-top: 3rem;
    justify-self: center;
    
    padding: 10px 20px;
    @media (min-width: 601px) and (max-width: 1024px) {
      max-width: 33%;
    } 
    /* 💻 Desktop: ≥1025px */
    @media (min-width: 1025px) {
      min-width: 33%;
      max-width: 66%;
      
    }
  }
  
  .logo {
    display: none;
    /* 📲 Tablet: 601px – 1024px */
    
    @media (min-width: 1025px) {
      margin: auto;
      display: block;
    }
  }


</style>
