---
import { Picture } from "astro:assets";
const { src, alt, año, estilo} = Astro.props;
const height = "auto"
---

<section>
  <Picture src={src} alt={alt} formats={['avif', 'webp']} class="imagen"/>
  <div>
    <p>{año}</p>
    <h1>{estilo}</h1>
    
    <a href="">Bases</a>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    @media (601px <= width <= 1024px) {
      flex-direction: row;
    } 
    @media (width >= 1025px) {
      max-height: 80vh;
      flex-direction: row;
    }

    .imagen {
      max-height: 100%;
    }
    
    
    
    
    div {
      min-width: 30%;
      text-align:  start;
      padding: 1rem;
    }

    

  }
</style>