---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/reset.css"
import "../styles/variables.css"
const idioma = Astro.currentLocale || "es";
const { titulo, descripcion } = Astro.props;
---
<!DOCTYPE html>
  
<html lang={idioma}>
  <BaseHead title={titulo} description={descripcion} />
  <body>
    <Header />
    <slot />
    <Footer />
    </body>
</html>

