---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/reset.css"
import "../styles/variables.css"
import "../styles/fonts.css"
const idioma = Astro.currentLocale || "es";
const { titulo, descripcion } = Astro.props;
---
<!DOCTYPE html>
  
<html lang={idioma}>
  <BaseHead title={titulo} description={descripcion} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100dvh
    display: flex;
    flex-direction: column;
  }
  main {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  
</style>

